@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
#root {
  margin: 0 auto;
  padding: 1rem;
}
body {
  font-family: "Inter", sans-serif;
}

/* .card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
} */
